name: Build, Test and Cover
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29

  swagger-docs:
    name: clean-swagger-docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - uses: actions/checkout@v2
      - run: go get -u github.com/swaggo/swag/cmd/swag@v1.6.7
      - run: make verify-clean-swagger-docs

  test-and-cover:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        go: ["1.15"]
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@v2
      - run: make test-ci
        env:
          ATLAS_TEST_DATABASE_URL: "host=localhost port=5432 dbname=postgres user=postgres password=postgres sslmode=disable"
      - uses: codecov/codecov-action@v1
        with:
          file: ./profile.cov
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
